# Ignorer alt
*
!.gitignore

# Unntatt themes og plugins
!themes/
!themes/**

# Ignorer alle plugins unntatt egenutviklede
plugins/*
!plugins/bim-verdi-core/

# Ignorer common files
**/node_modules/
**/vendor/
**/.DS_Store
**/dist/

# Shared context - not deployed to production
shared-context/
