# Ignorer alt
*
!.gitignore

# Unntatt themes og plugins
!themes/
!themes/**

# Ignorer alle plugins (bruker bim-verdi-core via composer)
plugins/

# Ignorer common files
**/node_modules/
**/vendor/
**/.DS_Store
**/dist/

# Shared context - not deployed to production
shared-context/
